<h1>Calculadora</h1>

<div>
  <input type="number" placeholder="Número 1" [(ngModel)]="value1">
</div>
<hr>
<div>
  <input type="number" placeholder="Número 2" [(ngModel)]="value2">
</div>
<hr>
<button (click) = "getOperaracao('+')" >Soma</button>
<button (click) = "getOperaracao('-')" >Subtração</button>
<button (click) = "getOperaracao('*')" >Multiplicação</button>
<button (click) = "getOperaracao('/')" >Divisão</button>
<hr>
<div>
  <button (click) = "calcular()">Resultado</button>
</div>
<div>
  <input type="number" placeholder="Resultado" [(ngModel)]="resultado" readonly>
</div>
<hr>